<h4 class="teal-text text-accent-4">About Us</h4>
<p style="margin-right: 100px;">
PR Journal is a Sinatra-based MVC application using CRUD (create, read, update, delete) functions. This application was created by me, Kotomi Noguchi, a software engineering student at Flatiron School for my Phase 2 project.
<br>
<br>
The main purpose of this site is to provide those pursuing any personal records at the gym, whether they are complete beginners or veterans. The importance of recording your milestones, and being able to track your progression in a digital space can be shared and benefited among all levels of gym goers. I personally am not a heavy gym person (yet!) but am highly interested in getting stronger, which led me to the creation of the PR journal. Hopefully it can be helpful in achieving my goals.
<br>
<br>
Although there are far more exercises than the ones provided on this site, I deemed these to be the most common and relevant to PRs: deadlift, overhead press, bench press, high bar squat, low bar squat, front squat, clean and press, hang clean, and snatch lift. In the future, I may add an option for "other" and allow users to input their own unique exercises. Some other cool nice-to-haves are profile pages, shareable posts for new PRs, and comment sections so that users can interact with fellow gym goers.
<br>
<br>