<h4 class="teal-text text-accent-4"><i class="material-icons left">contacts</i>Contact Me</h4>
<br>
<br>
<div class="row">
  <div class="col s2">
    <img src="images/big-github.png">
  </div>
  <div class="col s2">
    <img src="images/big-linkedin.png">
  </div>
  <div class="col s2">
    <img src="images/big-gmail.png">
  </div>
</div>